/*  your css code here. If applicable */
.heading{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:15px;
}
.cards{
	display:flex;
	justify-content:space-evenly;
}
img{
	width:500px;
    margin:10px;
}
.latest-news{
	display:flex;
	flex-direction:column;
    align-items: center;
    width:400px;
}
.latest-news{
    border:2px solid white;
}
.latest-news>h2 a{
	text-decoration:none;
}
.main-article{
    padding: 20px;
    width:1400px;
}
.main-article{
    border: 2px solid white ;
}
.pictorial{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.cards{
    margin:10px;
}